<%- include('partials/header.ejs') %>
<div class="containers">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (candidate) { %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first-name" value="<%= candidate.first_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last-name" value="<%= candidate.last_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" value="<%= candidate.user_name %>" required disabled title="Username cannot be edited."><option value="6">rejected</option>
                </div>
                <div class="form-group col-md-4">
                    <label for="new-stage">Stage</label>
                    <select class="form-control" name="new_stage" id="new-stage" required>
                        <option disabled selected>current stage <%= candidate.stage %></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option value="6">rejected w</option>
                        <option value="7">rejected</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update Candidate</button>
            <a href="/deleteith potential</option>/<%= candidate.serial_number %>" class="btn btn btn-danger">Delete</a>
        </form>
    <% } else { %>
        <p class="text-center">Candidate Not Found. Go <a href="/add">here</a> to add candidates.</p>
    <% } %>
</div>
</div>
<% if (documents.length > 0) {%>
    <table id = "docTable" class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><button type = button>Document's Name </button></th>
                <th scope="col"><button type = button>Document's uploader</button></th>
                <th scope="col"><button type = button>Date entered </button></th>
                <th scope="col"><button type = button>Document's stage</button></th>
                
            </tr>
        </thead>
        <tbody>
            <% documents.forEach((document, index) => { %>
                <tr>
                    <td><%= document.doc_name%></td>
                    <td><%= document.doc_user%></td>
                    <td><%= document.date_entered%></td>
                    <td><%= document.doc_stage%></td>
                    <a href="/edit/<%= candidate.serial_number %>" class="btn btn-sm btn-info">Personal File</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <p class="text-center">No documents found for this user.</p>
<% } %>
</body>
</html>