<%- include('partials/header.ejs') %>
<%- include('partials/choose-table.ejs') %>



<div class="container">
    <h2>Basic Report (to be extended later)</h2> 
    <div class="card">
      <div class="card-body">Candidates in Stage 1 : <b><%= r1 %></b></div>
      <div class="card-body">Extra information will be added (like unattended students etc.</div>
      <div class="card-body">Go to stage 1 <a href="/stage1"> <b>HERE</b></a> </div>
      <hr>
      <div class="card-body">Candidates in Stage 2 : <%= r2 %></div>
      <div class="card-body">Extra information will be added (like unattended students etc.</div>
      <div class="card-body">Go to stage 2 <a href="/stage2"> <b>HERE</b></a> </div>
      <hr>
      <div class="card-body">Candidates in Stage 3 : <%= r3 %></div>
      <div class="card-body">Extra information will be added (like unattended students etc.</div>
      <div class="card-body">Go to stage 3 <a href="/stage3"> <b>HERE</b></a> </div>
      <hr>
      <div class="card-body">Candidates in Stage 4 : <%= r4 %></div>
      <div class="card-body">Extra information will be added (like unattended students etc.</div>
      <div class="card-body">Go to stage 4 <a href="/stage4"> <b>HERE</b></a> </div>
      <hr>
      <div class="card-body">Candidates in Stage 5 : <%= r5 %></div>
      <div class="card-body">Extra information will be added (like unattended students etc.</div>
      <div class="card-body">Go to stage 5 <a href="/stage5"> <b>HERE</b></a> </div
    </div>
  </div>
</div>
</body>
</html>