<%- include('partials/header.ejs') %>
<%- include('partials/choose-table.ejs') %>
    <div class="table-wrapper">
        <input type="text" id="nameFilterInput" onkeyup="filterByName()" placeholder="Search by name"></input>
        <% if (candidates.length > 0) {%>
            <table id = "table1" class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"><button type = button onclick = "sortByButton("first_name")">First Name </button></th>
                        <th scope="col"><button type = button onclick = "sortByButton("last_name")">Last Name </button></th>
                        <th scope="col"><button type = button onclick = "sortByButton("id")">ID </button></th>
                        <th scope="col"><button type = button onclick = "sortByButton("mail")">Mail </button></th>
                        <th scope="col"><button type = button onclick = "sortByButton("gender")">Gender </button></th>
                        <th scope="col"><button type = button onclick = "sortByButton("birthdate")">Age </button></th>
                        <th scope="col"><button type = button onclick = "sortByButton("address")">Address</button></th>
                        <th scope="col"><button type = button onclick = "sortByButton("phone_number")">Phone Number </button></th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% candidates.forEach((candidate, index) => { %>
                        <tr>
                            <td><%= candidate.first_name %></td>
                            <td><%= candidate.last_name %></td>
                            <td><%= candidate.id %></td>
                            <td><%= candidate.male %></td>
                            <td><%= candidate.gender %></td>
                            <td><%= (new Date).getFullYear() - (new Date(candidate.birthdate)).getFullYear() %></td>
                            <td><%= candidate.address %></td>
                            <td><%= candidate.phone_number %></td>
                            <td>
                                <a href="/edit/<%= candidate.serial_number %>" class="btn btn-sm btn-info">Personal File</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No candidates found in this stage.</p>
        <% } %>
 </div>
</div>
<script>
    function filterByName() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("nameFilterInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("table1");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>
    
</body>
</html>